@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
  font-family: 'poppins', sans-serif;
}

html{
  scroll-behavior: smooth;
}

@media screen and (max-width: 468px) {
  
  .about{
    padding-top: 0 ;
    margin-top: 0;
  }
  .service{
    padding-top: 0 ;
  }
  .contact{
    padding-top: 0 ;
  }
  .hero{
    padding-top: 120px ;
  }

}


.marquee {
  overflow: hidden;
  white-space: nowrap;
  box-sizing: border-box;
}

.marquee .flex {
  display: inline-block;
  animation: marquee 10s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
